#display {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background-color: #404040;
  color: #7df2ff;
  border-radius: 8px;
  letter-spacing: 2px;
  width: 80%;
  justify-self: center;
}

#controls {
  grid-area: controls;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
