#drum-machine {
  grid-area: drummachine;
  background-image: var(--brushed-metal-linear);
  background-size: 20px 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'controls'
    'padbank';
  border-radius: 35px;
  padding: 25px;
  box-shadow: inset -5px 5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset -5px 5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -5px 5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
