.drum-pad {
  color: #eeeeee;
  font-size: 1.125em;
  text-shadow: 1px 1px 2px black;
  height: var(--pad-size-sm);
  width: var(--pad-size-sm);
  border-radius: 20px;
  border-width: 4px;
  border-style: outset;
  border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2)
    rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    circle,
    rgba(83, 83, 83, 1) 0%,
    rgba(73, 73, 73, 1) 25%,
    rgba(68, 68, 68, 1) 50%,
    rgba(48, 48, 48, 1) 90%
  );
}

.drum-pad:active,
.drum-pad.active {
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2)
    rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    circle,
    rgba(15, 133, 255, 1) 0%,
    rgba(15, 133, 255, 1) 25%,
    rgba(4, 116, 233, 1) 50%,
    rgba(0, 95, 193, 1) 90%
  );
}

.drum-pad:hover {
  font-size: 1.1em;
  cursor: pointer;
}

/* .drum-pad-clicked {
  background: radial-gradient(
    circle,
    rgba(15, 133, 255, 1) 0%,
    rgba(15, 133, 255, 1) 25%,
    rgba(4, 116, 233, 1) 50%,
    rgba(0, 95, 193, 1) 90%
  );
  box-shadow: inset -2px 2px 5px 0px rgba(0, 0, 0, 0.5),
    inset 2px -2px 5px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset -2px 2px 5px 0px rgba(0, 0, 0, 0.5),
    inset 2px -2px 5px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset -2px 2px 5px 0px rgba(0, 0, 0, 0.5),
    inset 2px -2px 5px 0px rgba(255, 255, 255, 0.5);
  font-size: 1.063em;
} */
