.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.App-header {
  grid-area: header;
}

.App-main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    '. . .'
    '. drummachine .'
    '. . .';
}

.App-footer {
  grid-area: footer;
}

#drum-machine {
  grid-area: drummachine;
  background-image: var(--brushed-metal-linear);
  background-size: 20px 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'controls'
    'padbank';
  border-radius: 35px;
  padding: 25px;
  box-shadow: inset -5px 5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset -5px 5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -5px 5px 10px 0px rgba(255, 255, 255, 1),
    inset 5px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

#pad-bank {
  grid-area: padbank;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#controls {
  grid-area: controls;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#display {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background-color: #404040;
  color: #7df2ff;
  border-radius: 8px;
  letter-spacing: 2px;
  width: 80%;
  justify-self: center;
}

/*** CHECKBOX SWITCHES ***/
.switch-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 80%;
  justify-self: center;
}

.switch-title {
  margin-left: 10px;
  justify-self: start;
}

.switch {
  position: relative;
  width: 55px;
  justify-self: end;
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: var(--switch-label-border);
  border-radius: var(--switch-border-radius);
}

.switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.1s ease-in 0s;
}

.switch-inner::before,
.switch-inner::after {
  display: inline-block;
  width: 50%;
  height: var(--switch-height);
  padding: 0;
  line-height: var(--switch-height);
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.switch-inner::before {
  text-align: left;
  content: 'ON';
  padding-left: 6px;
  background-color: var(--switch-inner-on-bgcolor);
  color: #ffffff;
}

.switch-inner::after {
  content: 'OFF';
  padding-right: 6px;
  background-color: orange;
  color: #666666;
  text-align: right;
}

.switch label[for='switch-bank'] .switch-inner::before {
  content: '1';
  padding-left: 12px;
}

.switch label[for='switch-bank'] .switch-inner::after {
  content: '2';
  padding-right: 12px;
  background-color: var(--switch-inner-on-bgcolor);
  color: #ffffff;
}

.switch-switch {
  display: block;
  width: 25px;
  height: 25px;
  margin: 1px 0 0 0; /* (switch height - .switch-switch size) / 2 >= 0 ?  equation result : 0 */
  /* margin-bottom: 1px; */
  background-color: hsl(0, 0%, 90%);
  background-image: var(--brushed-metal-radial);
  box-shadow: -0.125em 0.125em 0.125em #6a6a6a;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px; /* .switch width - .switch-switch width - .switch-switch margin[l+r] - border[l+r] */
  border-radius: var(--switch-border-radius);
  transition: all 0.1s ease-in 0s;
}

.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
  right: 0px;
}

/*** VOLUME SLIDER ***/
.slider-container {
  display: grid;
  width: 80%; /* Width of the outside container */
  justify-self: center;
}

.slider-title {
  /* width: 100%; */
  text-align: left;
  margin-left: 10px;
}
/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: var(--switch-height);
  border-radius: var(--switch-border-radius);
  border: var(--switch-label-border);
  background: var(--switch-inner-on-bgcolor);
  outline: none; /* Remove outline */
  justify-self: center;
}

.slider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background-color: hsl(0, 0%, 90%);
  background-image: var(--brushed-metal-radial);
  box-shadow: -0.125em 0.125em 0.125em #6a6a6a;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  position: relative;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background-color: hsl(0, 0%, 90%);
  background-image: var(--brushed-metal-radial);
  box-shadow: -0.125em 0.125em 0.125em #6a6a6a;
  cursor: pointer; /* Cursor on hover */
}

@media (min-width: 560px) {
  #display {
    width: 100%;
  }

  .switch-container {
    width: 100%;
  }

  .slider-container {
    width: 100%;
  }

  #drum-machine {
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'controls padbank';
  }

  .drum-pad {
    height: var(--pad-size);
    width: var(--pad-size);
    line-height: var(--pad-size);
  }
}
