/* Brushed metal css effect H/T: simurai https://codepen.io/simurai/pen/DwJdq */

:root {
  --pad-size-sm: 75px;
  --pad-size: 100px;
  --brushed-metal-linear: -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0) 6%,
      hsla(0, 0%, 100%, 0.1) 7.5%
    ),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          4%, hsla(0, 0%, 0%, 0.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          1.2%, hsla(0, 0%, 100%, 0.15) 2.2%),
    linear-gradient(
      180deg,
      hsl(0, 0%, 78%) 0%,
      hsl(0, 0%, 90%) 47%,
      hsl(0, 0%, 78%) 53%,
      hsl(0, 0%, 70%) 100%
    );

  --brushed-metal-radial: 
    /* Bright shine effects coming from top, bottom, left, and right, respectively */ -webkit-radial-gradient(
      50% 0%,
      8% 50%,
      hsla(0, 0%, 100%, 0.5) 0%,
      hsla(0, 0%, 100%, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 12% 50%, hsla(0, 0%, 100%, 0.6) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 7%, hsla(0, 0%, 100%, 0.5) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 5%, hsla(0, 0%, 100%, 0.5) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          100%),
    /* Add shine back to the center b/c the fake conical effect as linear gradients darken the center */ -webkit-radial-gradient(
        circle,
        hsla(0, 0%, 90%, 0.8) 5%,
        hsla(0, 0%, 85%, 0.5) 15%,
        hsla(0, 0%, 100%, 0) 18%
      ),
    /* Fake conical effects with linear gradients instead of rotated radial gradients and pseudo-selectors. Doesn't look too bad at smaller sizes and can use for range-slider thumb */
      linear-gradient(
        115deg,
        hsla(0, 0%, 0%, 0) 45%,
        hsla(0, 0%, 0%, 0.07) 48%,
        hsla(0, 0%, 0%, 0.08) 49%,
        hsla(0, 0%, 0%, 0.09) 50%,
        hsla(0, 0%, 0%, 0.08) 51%,
        hsla(0, 0%, 0%, 0) 55%
      ),
    linear-gradient(
      25deg,
      hsla(0, 0%, 0%, 0) 44%,
      hsla(0, 0%, 0%, 0.07) 48%,
      hsla(0, 0%, 0%, 0.08) 49%,
      hsla(0, 0%, 0%, 0.09) 50%,
      hsla(0, 0%, 0%, 0.09) 51%,
      hsla(0, 0%, 0%, 0.08) 53%,
      hsla(0, 0%, 0%, 0) 58%
    ),
    linear-gradient(
      245deg,
      hsla(0, 0%, 0%, 0) 44%,
      hsla(0, 0%, 0%, 0.07) 47%,
      hsla(0, 0%, 0%, 0.08) 49%,
      hsla(0, 0%, 0%, 0.09) 50%,
      hsla(0, 0%, 0%, 0.08) 51%,
      hsla(0, 0%, 0%, 0.07) 52%,
      hsla(0, 0%, 0%, 0) 57%
    ),
    linear-gradient(
      155deg,
      hsla(0, 0%, 0%, 0) 44%,
      hsla(0, 0%, 0%, 0.08) 49%,
      hsla(0, 0%, 0%, 0.09) 50%,
      hsla(0, 0%, 0%, 0.08) 52%,
      hsla(0, 0%, 0%, 0) 57%
    ),
    /* Brushed metal grooves effect */ -webkit-repeating-radial-gradient(50% 50%, 100%
          100%, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 3%, hsla(
            0,
            0%,
            0%,
            0.1
          )
          3.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0)
          0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, 0.1) 7.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0)
          0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, 0.2) 2.2%),
    /* Background base gradient */ -webkit-radial-gradient(50% 50%, 200% 50%, hsla(
            0,
            0%,
            90%,
            1
          )
          5%, hsla(0, 0%, 85%, 1) 30%, hsla(0, 0%, 60%, 1) 100%);

  --switch-inner-on-bgcolor: #2196f3;
  --switch-height: 25px;
  --switch-border-radius: 30px;
  --switch-label-border: 2px solid #999999;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #404040;
}
